ul{
    list-style-type: none;
}
.apple-image{
    height: 33px;
    width: 133px;
}
.footer-section{
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 200px;
    display: grid;
    align-items: center;
}